@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* RTL and Cairo font setup */
html {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

* {
  font-family: 'Cairo', sans-serif;
}